@font-face {
  font-family: 'Glacial Indifference';
  src: url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
}

.comfortaa {
  font-family: 'Comfortaa', cursive;
}

.h-50px {
  height: 50px;
}

.min-h-50px {
  min-height: 50px;
}

.h-100px {
  height: 100px;
}

.min-h-100px {
  min-height: 100px;
}

.h-200px {
  height: 200px;
}

.min-h-200px {
  min-height: 200px;
}

.border-15px {
  border-radius: 15px;
}

.border-25px {
  border-radius: 25px;
}

.offcenter {
  margin-left: -10px;
}

.pl-60p {
  padding-left: 60%;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.glacialindifference {
  font-family: 'Glacial Indifference', sans-serif;
}

.hth-text-blue-100 {
  color: #d1fdfe;
}

.hth-text-blue-200 {
  color: #b4dfe5;
}

.hth-text-blue-300 {
  color: #303c6c;
}

.hth-text-orange-100 {
  color: #f4966c;
}

.hth-text-yellow-100 {
  color: #fae8a6;
}

.hth-bg-blue-100 {
  background-color: #d1fdfe;
}

.hth-bg-blue-200 {
  background-color: #b4dfe5;
}

.hth-bg-blue-300 {
  background-color: #303c6c;
}

.hth-bg-orange-100 {
  background-color: #f4966c;
}

.hth-bg-yellow-100 {
  background-color: #fae8a6;
}

.border-box {
  box-sizing: border-box;
}
